* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.mainColor {
  color: #2e4374;
}
.bold {
  font-weight: bold;
}
.mb {
  margin-bottom: 5px;
}
.putih {
  color: white;
}
/* .container{
  background-color: #7C81AD;
} */

#weatherResult {
  /* width: 200px; */
  border-radius: 10px;
  margin-top: 1rem;
  color: white;
  background-color: #5d6188;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  /* background-color: #7C81AD; */
  background-color: #4b527e;
  /* background-color: white; */
}
header {
  height: 50x;
  background-color: #2e4374;
  text-align: center;
}

h1 {
  color: #edbb8e;
}
.deskripsi {
  width: 400px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

p {
  font-size: 10px;
}

main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* min-height: 100vh; */
}

input {
  width: 300px;
  padding: 8px;
  margin-right: 8px;
  border-radius: 6px;
}

button {
  padding: 8px 16px;
  /* background-color: #4caf50; */
  background-color: #e5c3a6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #f59e52;
}

footer {
  margin-top: 20px;
  padding-top: 10px;

  text-align: center;
  color: #ffffff;
}
